@model IEnumerable<Client>

@{
    ViewData["Title"] = "Liste des Clients";
}

<div class="card">
    <div class="card-header">
        <h3>Liste des Clients</h3>
    </div>
    <div class="card-body">
        <div class="my-2 d-flex justify-content-end">
            <a class="btn btn-outline-dark" asp-action="Create">Nouveau client</a>
        </div>

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" role="alert">
                <strong>@TempData["Message"]</strong>
            </div>
        }

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Surnom</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var client in Model)
                    {
                        <tr>
                            <td>@client.Id</td>
                            <td>@client.Surnom</td>
                            <td>@client.Telephone</td>
                            <td>@client.Adresse</td>
                            <td>
                                <a href="@Url.Action("DetteClient", "Dette", new { clientId = client.Id })"
                                   class="btn btn-outline-primary">Dettes</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Pagination Links -->
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { pageNumber = i, pageSize = ViewBag.PageSize })">@i</a>
                    </li>
                }

                <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
